@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/core/lib/less/variables";

.document-browser {
  flex-basis: 50%;
  background-color: @light-gray5;
  padding: 20px;

  display: flex;
  flex-direction: column;

  .document {
    padding: 10px 20px;
    background-color: @light-gray4;
    border: 1px solid @light-gray1;
    border-radius: 5px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
